<tr class="table-row <%= todo.completed? ? "completed table-succes" : "" %> <%= todo.time_over? ? "time-over table-danger" : ""%>" id="<%= dom_id todo %>">
  <th>
    <div class="d-flex">
    <%= button_to "",
      complete_todo_path(todo),
      method: :patch,
      class:"fas fa-check-circle fa-lg text-light p-2 py-3 border border-success gradient-custom-2",
      disabled: todo.completed? || todo.time_over?
    %>
  <span class="ms-2"><%= todo.title %></span>
    </div>
  </th>
  <td class="align-middle">
    <span><%= todo.body %></span>
  </td>
  <td class="align-middle">
    <h6 class="mb-0"><span class="badge bg-danger"><%= todo.category %></span></h6>
  </td>
  <td class="align-middle">
    <span><%= todo.due_date.strftime("%d/%m/%Y") %></span>
  </td>
  <td class="align-middle">
    <div class="d-flex">
    <%= 
      link_to "",
      nil,
      class:"fas fa-plus fa-lg text-light me-3 p-2 py-3 border border-success gradient-custom-2",
      data: {
        controller: "subtodo",
        action: "subtodo#toggle"
      }
    %>
    <%= link_to "",
      edit_todo_path(todo),
      class:"fas fa-edit fa-lg text-light me-3 p-2 py-3 border border-success gradient-custom-2",
      style:todo.completed? || todo.time_over?  ? 'pointer-events:none;' : '',
      data:{ turbo_frame: 'modal'}
    %>
    <%= button_to "",
      todo,
      method: :delete,
      class:"fas fa-trash-alt fa-lg text-light p-2 py-3 border border-success gradient-custom-2",
      disabled: todo.completed? || todo.time_over?
     %>
    </div>
  </td>
 <% if todo.time_over? %> 
  <td class="align-middle">
    <span class="badge bg-danger">Time is Over</span>
  </td>
<% end %>
</tr>

 <tr class="d-none" id="sub-todo-form">
   <td colspan="6">
    <%= render 'sub_todos/form', todo: todo %>
       <%#  <%= render 'sub_subtodos/form', sub_subtodo: @sub_subtodo %>
  </td>
</tr>
