
<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark border-end border-5 border-primary position-sticky"
style="top: 0px; height: 100%;">
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Menu</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <%= link_to root_path, class: "nav-link align-middle px-0" do %>
                <i class="fa-solid fa-house"></i> <span class="ms-1 d-none d-sm-inline text-light">All Tasks</span>
            <% end %>
        </li>
        <% Todo.categories.each do |category, _index| %>
            <li class="nav-item">
              <%= link_to root_path(category: category), class: "nav-link align-middle px-0" do %>
                <span class="ms-1 d-none d-sm-inline text-light"><%= category.capitalize %></span>
              <% end %>
            </li>
        <% end %>               
    </ul>
    <hr>
    <div class="dropdown pb-4">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1"><%= current_user.email %></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <%# <li><a class="dropdown-item" href="#">New project...</a></li> %>
            <%# <li><a class="dropdown-item" href="#">Settings</a></li> %>
            <%= link_to "Edit", edit_user_registration_path, :class=> 'dropdown-item' %>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>          
                <%= button_to "Logout", destroy_user_session_path, :class=> 'nav-link m-2', method: :delete %>
            </li>
        </ul>
    </div>
</div>
</div>


